<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/css/jquery-ui.min.css" rel="stylesheet">
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/jquery-ui.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
</head>

<header>
    <title>Fazer upload do arquivo do Carga</title>
</header>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header header">
                <button aria-controls="navbar" aria-expanded="false" class="navbar-toggle collapsed" data-target="#97bf8afda672ef73a836d55f018b43c868a97bb5"
                    data-toggle="collapse" type="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="navbar-brand">Lacre</span>
            </div>
            <div class="navbar-collapse collapse" id="97bf8afda672ef73a836d55f018b43c868a97bb5">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/" title="Site">Brasilico's Site</a>
                    </li>
                    <li class="active">
                        <a href="/lacre" title="Lacre">Lacre</a>
                    </li>
                    <li>
                        <a href="/lacre" title="Login">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <input type="hidden" id="token" />
    <div id="login"></div>
    <div class="container" id="content">
        <div class="alert alert-danger alert-dismissible collapse" role="alert" id="jsonerror">
            <button type="button" class="close" onclick="$('#jsonerror').hide()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <span>
                <p>
                    <span id="erro"></span>
                </p>
            </span>
        </div>
        <div class="alert alert-success alert-dismissible collapse" role="alert" id="jsonsuccess">
            <button type="button" class="close" onclick="$('#jsonsuccess').hide()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <span>
                <p>Sucesso:&nbsp;
                    <span id="success"></span>
                </p>
            </span>
        </div>
        <div class="container">
            {% for message in get_flashed_messages() %}
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
            {% endfor %} {% block page_content %}{% endblock %}
        </div>
        <ul id="rowTab" class="nav nav-tabs nav-justified">
            <li class="active">
                <a data-toggle="tab" href="#index">
                    <b>Home</b>
                </a>
            </li>
            <li>
                <a data-toggle="tab" href="#consulta">
                    <b>Consultas</b>
                </a>
            </li>
            <li>
                <a data-toggle="tab" href="#list">
                    <b>Listar</b>
                </a>
            </li>
            <li>
                <a data-toggle="tab" href="#upload">
                    <b>Upload CSV</b>
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="index" class="tab-pane fade in active">
                <div id="home" class="row">
                    <div class="col-xs-8">
                        <h1>Bem-vindo ao sistema Lacre</h1>
                    </div>
                </div>
            </div>
            <div id="upload" class="tab-pane fade">
                <div id="upload_file" class="row">
                    <div class="col-xs-8">
                        <form id="upload-file" method="post" enctype="multipart/form-data">
                            <h4>Fazer Upload de novo arquivo</h4>
                            <h3>
                                <i>Informe um arquivo </i>
                            </h3>
                            <fieldset>
                                <label class="btn btn-default" for="file">
                                    <input name="file" type="file" class="btn btn-default" style="display:none" onchange="$('#upload-file-info').html(this.files[0].name)">
                                </label>
                                <button id="upload-file-btn" type="button" class="btn btn-default">Upload</button>
                            </fieldset>
                            <big>
                                <span class='label label-success' id="upload-file-info"></span>
                            </big>
                        </form>
                        <div id="preview"></div>
                    </div>
                </div>
            </div>
            <div id="consulta" class="tab-pane fade">
                <div class="col-xs-8">
                    <div id="consultalacre" class="col-sm-10">
                        <h3>
                            <i>Informe o número do lacre</i>
                        </h3>
                        <div class="form-group col-sm-12">
                            <div class="form-group col-sm-10">
                                <input id="num_lacre" class="form-control" name="lacre" type="text" placeholder="Número do lacre">
                            </div>
                            <div class="form-group col-sm-1">
                                <button class="btn btn-primary" id="btnlacre">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                            <div class="table">
                                <table class="table table-bordered table-hover table-responsive" id="conslacre">
                                    <tr></tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div id="consultaconteiner" class="col-sm-10">
                        <h3>
                            <i>Informe o contêiner se for parcial marque a caixa ao lado</i>
                        </h3>
                        <div class="form-group col-sm-12">
                            <div class="form-group col-sm-8">
                                <input id="num_cont" class="form-control" name="conteiner" type="text" placeholder="Contêiner">
                            </div>
                            <div class="col-sm-2">
                                <div class="custom-control custom-checkbox mr-sm-2">
                                    <input type="checkbox" class="custom-control-input" id="chkcont">
                                    <label class="custom-control-label" for="chkcont">Parcial</label>
                                </div>
                            </div>
                            <div class="form-group col-sm-1">
                                <button class="btn btn-primary" id="btncont">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                            <div class="table">
                                <table class="table table-bordered table-hover table-responsive" id="conscont">
                                    <tr></tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div id="listfile" class="row">
                        <h3>
                            <i>Selecione o CSV a filtrar</i>
                            <button id="btnlistcsv" class="btn btn-primary">Listar</button>
                        </h3>
                        <div class="table">
                            <table class="table table-bordered table-hover table-responsive" id="listcsv">
                                <tr></tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div id="list" class="tab-pane fade">
                <div class="col-xs-12">
                    <div id="listconteiner" class="row">
                        <div class="col-sm-6">
                            <h3>
                                <i>Contêineres</i>
                                <button id="btnlistcont" class="btn btn-primary">Listar</button>
                            </h3>
                            <div class="table">
                                <table class="table table-bordered table-hover table-responsive" id="listcont">
                                    <tr></tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div id="listlog" class="row">
                        <div class="col-sm-6">
                            <h3>
                                <i>Logs</i>
                                <button id="btnlistlog" class="btn btn-primary">Listar</button>
                            </h3>
                            <div class="table">
                                <table class="table table-bordered table-hover table-responsive" id="listlog">
                                    <tr></tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div id="listreport" class="row">
                        <div class="col-sm-6">
                            <h3>
                                <i>Reports</i>
                                <button id="btnlistreport" class="btn btn-primary">Listar</button>
                            </h3>
                            <div class="form-group col-sm-12">
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-5">
                                        <input id="report" class="form-control" name="report" type="text" placeholder="Contêiner">
                                    </div>
                                    <div class="col-sm-5">
                                        <input id="status" class="form-control" name="report" type="text" placeholder="Status">
                                    </div>
                                    <div class="col-sm-2">
                                        <button class="btn btn-default" id="btnreport" name="btnreport">Adicionar</button>
                                    </div>
                                </div>
                                <div class="table">
                                    <table class="table table-bordered table-hover table-responsive" id="listreport">
                                        <tr></tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="bottom" class="row">
                <div class="col-md-12">
                    Copyleft IvanBrasilico 2017 - All stuff GPLv3 Licensed except explicited or from outer sources
                </div>
            </div>
        </div>
</body>
<div id="loginmodal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <b>Login</b>
                </h4>
            </div>
            <div class="modal-body">
                <form id="frmlogin">
                    <div class="form-group">
                        <label for="username">Nome:</label>
                        <input type="text" class="form-control" id="username" name="username" autofocus="autofocus">
                    </div>
                    <div class="form-group">
                        <label for="senha">Senha:</label>
                        <input type="password" class="form-control" id="senha" name="senha">
                    </div>
                    <button class="btn btn-block btn-primary btn-default" id="btnlogin" onsubmit="dispose()">
                        <i class="fa fa-save"></i>&nbsp;Entrar
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

</html>
<script src="/static/js/jquery.js"></script>
<script src="/static/js/bootstrap.js"></script>
<script src="/static/js/jquery-ui.js"></script>
<script type="text/javascript">
    $("#frmlogin").submit(function (event) {
        event.preventDefault();
    });

    // BUTTONS

    $(document).on('click', '#btnlogin', function () {
        login();
    });
    $(document).one('click', '#btnlistcsv', function () {
        listar_csv();
    });
    $(document).one('click', '#btnlistcont', function () {
        conteiner();
    });
    $(document).on('click', '#btnlistlog', function () {
        listar_log();
    });
    $(document).on('click', '#btnlistreport', function () {
        listar_report();
    });
    $(document).on('click', '#btnreport', function () {
        adiciona_report();
    });
    $(document).on('click', '#btnlacre', function () {
        var num_lacre = $('#num_lacre').val();
        consultar_lacre(num_lacre);
    });
    $(document).on('click', '#listcsv td:first-child', function () {
        var csv = $(this).text();
        selecionar_file(csv);
    });
    $(document).on('click', '#btncont', function () {
        var num_cont = $('#num_cont').val()
        if ($('#chkcont').is(':checked')) {
            consultar_conteiner_parcial(num_cont)
        } else {
            consultar_conteiner(num_cont)
        }
    });
    $(document).on('click', '#upload-file-btn', function () {
        Upload();
    });


    // LOGIN

    var login = function () {
        url = '/api/auth'
        data = { 'username': $('#username').val(), 'password': $('#senha').val() }
        $.ajax({
            headers: {
                'Content-Type': 'application/json',
            },
            url: url,
            type: 'post',
            dataType: 'json',
            data: JSON.stringify(data),
            success: function (data) {
                $('#token').val(data.access_token);
                $('#loginmodal').modal("hide");
                test_token();
            },
            error: function (data) {
                console.log(data);
                if (data.statusText) {
                    $('#errom').empty().append(data.statusText)
                } else {
                    $('#errom').empty().append('Servidor retornou erro. Usuário ou senha incorretos??')
                }
                $('#jsonerrorm').show();
            }
        });
    }
    var test_token = function () {
        url = '/protected'
        headers = {
            'Content-Type': 'application/json',
            'Authorization': 'JWT ' + $('#token').val()
        }
        console.log(headers);
        $.ajax({
            headers: headers,
            url: url,
            type: 'get',
            dataType: 'json',
            success: function (data) {
                console.log(data);
            },
            error: function (data) {
                console.log(data);
            }
        });
    };

    $(document).ready(function () {
        var token = $('#token').val();
        if (!token) {
            $('#loginmodal').modal('toggle');
        }
        $('#modal').modal('hide');
    });

    // LISTAR

    var conteiner = function () {
        url = '/_lacre/list_conteiner'
        headers = {
            'Content-Type': 'application/json',
            'Authorization': 'JWT ' + $('#token').val()
        }
        console.log(headers);
        $.ajax({
            headers: headers,
            url: url,
            type: 'get',
            dataType: 'json',
            success: function (data) {
                console.log(data);
                $.each(data, function (i, item) {
                    $('#listcont').append(
                        $('<tr>').append(
                            $('<td>').append(item.Conteiner),
                            $('<td>').append(item.Lacre)
                        ));
                });
            },
            error: function (data) {
                console.log(data);
            }
        });
    };

    var listar_log = function () {
        url = '/_lacre/list/log'
        headers = {
            'Content-Type': 'application/json',
            'Authorization': 'JWT ' + $('#token').val()
        }
        console.log(headers);
        $.ajax({
            headers: headers,
            url: url,
            type: 'get',
            dataType: 'json',
            success: function (data) {
                console.log(data);
                if (data == '') {
                    $('#erro').empty().append("Não há logs!")
                    $('#jsonerror').show();
                } else {
                    $.each(data, function (item) {
                        $('#listlog').append(
                            $('<tr>').append(
                                $('<td>').append(item)
                            ));
                    });
                }
            },
            error: function (data) {
                console.log(data);
            }
        });
    };

    var listar_report = function () {
        url = '/_lacre/list/report'
        headers = {
            'Content-Type': 'application/json',
            'Authorization': 'JWT ' + $('#token').val()
        }
        console.log(headers);
        $.ajax({
            headers: headers,
            url: url,
            type: 'get',
            dataType: 'json',
            success: function (data) {
                console.log(data);
                if (data == '') {
                    $('#erro').empty().append("Não há reports!")
                    $('#jsonerror').show();
                } else {
                    $.each(data, function (item) {
                        $('#listreport').append(
                            $('<tr>').append(
                                $('<td>').append(item)
                            ));
                    });
                }
            },
            error: function (data) {
                console.log(data);
            }
        });
    };

    var adiciona_report = function () {
        var container = $('#report').val();
        var status = $('#status').val();
        url = '/_lacre/add/report?container=' + container + '&status=' + status
        headers = {
            'Content-Type': 'application/json',
            'Authorization': 'JWT ' + $('#token').val()
        }
        console.log(headers);
        $.ajax({
            headers: headers,
            url: url,
            type: 'get',
            dataType: 'json',
            success: function (data) {
                console.log(data);

            },
            error: function (data) {
                console.log(data);
            }
        });
    };

    // CONSULTA

    var listar_csv = function () {
        url = '/_lacre/list_files'
        headers = {
            'Content-Type': 'application/json',
            'Authorization': 'JWT ' + $('#token').val()
        }
        console.log(headers);
        $.ajax({
            headers: headers,
            url: url,
            type: 'get',
            dataType: 'json',
            success: function (data) {
                console.log(data);
                $.each(data, function (i, item) {
                    $('#listcsv').append(
                        $('<tr>').append(
                            $('<td>').append(item),
                            $('<td>').append(
                                '<input id="btn_exclui" type="button" class="btn  btn-danger" value="x" onclick="excluir_file(' + "'" + item + "'" + ')">')
                        ));
                });
            },
            error: function (data) {
                console.log(data);
            }
        });
    };

    var excluir_file = function (file) {
        url = '/_lacre/delete/file/' + file;
        headers = {
            'Content-Type': 'application/json',
            'Authorization': 'JWT ' + $('#token').val()
        };
        console.log(headers);
        $.ajax({
            headers: headers,
            url: url,
            type: 'get',
            dataType: 'json',
            success: function (data) {
                console.log(data);
            },
            error: function (data) {
                console.log(data);
            }
        });
    };

    var selecionar_file = function (file) {
        url = '/_lacre/select/file/' + file;
        headers = {
            'Content-Type': 'application/json',
            'Authorization': 'JWT ' + $('#token').val()
        };
        console.log(headers);
        $.ajax({
            headers: headers,
            url: url,
            type: 'get',
            dataType: 'json',
            success: function (data) {
                console.log(data);
            },
            error: function (data) {
                console.log(data);
            }
        });
    };

    var consultar_lacre = function (num_lacre) {
        url = '/_lacre/lacre/' + num_lacre;
        headers = {
            'Content-Type': 'application/json',
            'Authorization': 'JWT ' + $('#token').val()
        };
        console.log(headers);
        $.ajax({
            headers: headers,
            url: url,
            type: 'get',
            dataType: 'json',
            success: function (data) {
                console.log(data);
                $.each(data, function (index, value) {
                    if (value.Lacre == 'Não encontrado') {
                        $('#erro').empty().append("Lacre não encontrado!")
                        $('#jsonerror').show();
                    } else {
                        $('#conslacre').append(
                            $('<tr>').append(
                                $('<td>').append(value.Lacre),
                                $('<td>').append(value.Conteiner)
                            ));
                    };
                });
            },
            error: function (data) {
                console.log(data);
            }
        });
    };
    var consultar_conteiner_parcial = function (num_parcial) {
        url = '/_lacre/container_autocomplete/' + num_parcial;
        headers = {
            'Content-Type': 'application/json',
            'Authorization': 'JWT ' + $('#token').val()
        };
        console.log(headers);
        $.ajax({
            headers: headers,
            url: url,
            type: 'get',
            dataType: 'json',
            success: function (data) {
                console.log(data);
                $.each(data, function (i, container, x) {
                    console.log(container)
                    consultar_conteiner(container)
                });
            },
            error: function (data) {
                console.log(data);
            }
        });

    };

    var consultar_conteiner = function (num_cont) {
        url = '/_lacre/container/' + num_cont;
        headers = {
            'Content-Type': 'application/json',
            'Authorization': 'JWT ' + $('#token').val()
        };
        console.log(headers);
        $.ajax({
            headers: headers,
            url: url,
            type: 'get',
            dataType: 'json',
            success: function (data) {
                console.log(data);
                $.each(data, function (index, value) {
                    if (value.Conteiner == 'Não encontrado') {
                        $('#erro').empty().append("Contêiner não encontrado!")
                        $('#jsonerror').show();
                    } else {
                        $('#conscont').append(
                            $('<tr>').append(
                                $('<td>').append(value.Lacre),
                                $('<td>').append(value.Conteiner)
                            ));
                    };
                });
            },
            error: function (data) {
                console.log(data);
            }
        });
    };

    // UPLOAD

    var Upload = function () {
        var form_data = new FormData($('#upload-file')[0]);
        url = '/lacre/upload';
        $.ajax({
            url: url,
            type: 'POST',
            data: form_data,
            contentType: false,
            cache: false,
            processData: false,
            async: false,
            success: function (data) {
                console.log('Success!');
                console.log(data)
                $('#success').empty().append(data)
                $('#jsonsuccess').show();
            },
        });
    };

</script>
<style>

    .table {
        text-align: center;
        color: black;
    }

    .row-clicked {
        background-color: rgba(207, 207, 207, 0.692);
    }
</style>