{% extends "layout.html" %}
{% block body %}
<script type="text/javascript">
  $(function() {
    var submit_form = function(e) {
      $.getJSON($SCRIPT_ROOT + '/_rank', {
        a: $('input[name="a"]').val(),
        b: $('input[name="b"]').val()
      }, function(data) {
        $('#result').text(data[0].result);
$("#records_table tbody tr").remove();
       $.each(data, function(i, item) {
        $('<tr>').append(
            $('<td>').text(item.result)

        ).appendTo('#records_table');
        
    });
   $('input[name="a"]').focus().select();
      });
      return false;
    };
    $('a#calculate').bind('click', submit_form);
    $('input[type=text]').bind('keydown', function(e) {
      if (e.keyCode == 13) {
        submit_form(e);
      }
    });
    $('input[name=a]').focus();
  });
</script>
<h1>jQuery Example</h1>
<p>
  <input type="text" size="5" name="a"> +
  <input type="text" size="5" name="b"> =
  <span id="result">?</span>
<table id="records_table" border='1'>
<thead>
    <tr>
        <th>Result</th>

    </tr>
</thead>
<tbody>
</tbody>
</table>

<p><a href=# id="calculate">calculate server side</a>
{% endblock %}