{% extends "layoutbootstrap.html" %}

{% block scripts %}
 <script src="/static/js/jquery.js"></script>
 <script src="/static/js/bootstrap.js"></script>
 <script type="text/javascript">
  $(function() {
   $(document).ready(function() {
        $.getJSON("/_collections", function(data) {
            console.log(data);
            var listitems;
            var $select = $('#collections');                        
            $select.find('option').remove();
            $.each(data, function(i, item){
                listitems += '<option value=' + item.id + '>' + item.name + '</option>';
            });
            $select.append(listitems);
        });
       $('input[name="words"]').focus().select();
   });
  });
  $(function() {
    var submit_form = function(e) {
    
      $.getJSON('/_set_collection', {
        collection_id: $('#collections').val(),
      });
      return false;
    };
    $('button#btnOK').bind('click', submit_form);
    $('#down').bind('keydown', function(e) {
      if (e.keyCode == 13) {
        submit_form(e);
      }
    });
});
</script>

{% endblock %}

{% block content %}
<div id="main" class="container-fluid">
     <div id="top" class="row">
        <h2>Filtragem de documentos por título</h2>
           <div class="col-md-2">
                <h3>Título</h3>
            </div>
            <div class="col-md-8">
                <div class="input-group h2">
                    <select id="collections" width="90%">
</select><span class="input-group-btn">
                        <button class="btn btn-primary" id="btnOK" type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </div>
            <div class="col-md-2">
                <a href="help.html" class="btn btn-primary pull-right h2">Help</a>
            </div>
     </div> <!-- /#top -->
     <hr />
     <div id="list" class="row">
        <div class="table-responsive col-md-12">
        <span id="errors"></span>
        <table class="table table-striped" cellspacing="0" cellpadding="0"
         id="records_table">
        <thead>
            <tr>
                <th>Subitem</th>
                <th>Descrição completa</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
        </table>
        </div>
     </div> <!-- /#list -->
     <div id="bottom" class="row">
        Copyleft IvanBrasilico 2017 - All stuff GPLv3 Licensed except explicited or from outer sources
     </div> <!-- /#bottom -->
 </div>  <!-- /#main -->
{% endblock %}
