{% extends "layoutbootstrap.html" %}

{% block scripts %}
 <script src="/static/js/jquery.js"></script>
 <script src="/static/js/bootstrap.js"></script>
 <script type="text/javascript">
  $(function() {
    var submit_form = function(e) {
      $.getJSON('/_filter_documents', {
        afilter: $('input[name="afilter"]').val(),
      }, function(data) {
        console.log(data);
        $('#records_table tbody tr').remove();
       $.each(data, function(i, doc) {
        $('<tr>').append(
            $('<td>').text(doc.title),
            $('<td>').text(doc.contents)
        ).appendTo('#records_table');
        });
       $('input[name="afilter"]').focus().select();
      });
      return false;
    };
    $('button#btnfilter').bind('click', submit_form);
    $('input[type="text"]').bind('keydown', function(e) {
      if (e.keyCode == 13) {
        submit_form(e);
      }
    });
});
</script>

{% endblock %}

{% block content %}
<div id="main" class="container-fluid">
     <div id="top" class="row">
        <h2>Filtragem de documentos por título</h2>
           <div class="col-md-2">
                <h3>Título</h3>
            </div>
            <div class="col-md-8">
                <div class="input-group h2">
                    <input name="afilter" class="form-control" id="afilter" type="text" placeholder="Entre um termo para pesquisar">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" id="btnfilter" type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </div>
            <div class="col-md-2">
                <a href="help.html" class="btn btn-primary pull-right h2">Help</a>
            </div>
     </div> <!-- /#top -->
     <hr />
     <div id="list" class="row">
        <div class="table-responsive col-md-12">
        <span id="errors"></span>
        <table class="table table-striped" cellspacing="0" cellpadding="0"
         id="records_table">
        <thead>
            <tr>
                <th>Subitem</th>
                <th>Descrição completa</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
        </table>
        </div>
     </div> <!-- /#list -->
     <div id="bottom" class="row">
        Copyleft IvanBrasilico 2017 - All stuff GPLv3 Licensed except explicited or from outer sources
     </div> <!-- /#bottom -->
 </div>  <!-- /#main -->
{% endblock %}
